<header>
  <h1>Edit Shelter</h1>
</header>
<%= render partial: 'form', locals: {path: "/shelters/#{@shelter.id}",
                                    method: :patch,
                                    button_text: "Submit" } %>
