<header>
  <h1>Add Shelter</h1>
</header>
<%= render partial: 'form', locals: {path: "/shelters/#{@shelter.id}",
                                    method: :post,
                                    button_text: "Submit" } %>
