<header>
  <h1>Applications for <%= @pet_name %></h1>
</header>
<% if @applications.length > 0 %>
  <ul>
    <% @applications.each do |application| %>
      <li><%= link_to application.name, "/application/#{application.id}" %></li>
    <% end %>
  </ul>
<% else %>
  <h2>No Applications :(</h2>
<% end %>
