<h1>Favorites</h1>
<div class='card-columns'>
<% @favorited_pets.each do |pet| %>
<div class="card" style="width: 22rem;">
  <img class="card-img-top" src="<%= pet.image %>" alt="pet_image" style='height:300px;width:22rem'>
  <div class="card-body">
    <h5 class="card-title"><%= link_to pet.name, "/pets/#{pet.id}" %></h5>
  </div>
</div>
<% end %>
</div>
