<header>
  <h1>Edit Pet Info</h1>
</header>
<%= render partial: 'form', locals: {path: "/pets/#{@pet.id}",
                                    method: :patch,
                                    button_text: "Submit" } %>
