
<div class="jumbotron" id="startpage">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This site contains an index of shelters and adoptable pets in the area.</p>
  <hr class="my-4">
  <p>Click on the links below to learn more.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/shelters" role="button">View Shelters</a>
    <a class="btn btn-primary btn-lg" href="/pets" role="button">View Pets</a>

  </p>
</div>
