/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
html {
  background-color: #9BD770

}

body {
  background-color: #9BD770
}

header {
  background-color: #9BD770;
  text-align: center;
  color: #375F1B;
}

.navbar-color{
  background-color: #375F1B;

}

.edit-delete {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.edit-delete li {
  display: inline-block;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.review {
  margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 20px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-right: 20px;
   padding-left: 20px;
}

.pet-show {
  position: absolute;
  top: 10%;
  left: 33%;
  text-align: center;
  padding: 5px;
  background-color: #EBF7E3;
}

.pet-index {
  padding: 5px;
  text-align: center;
  background-color: #EBF7E3
}

#shelter-show {
  list-style: none;
}

#reviews-header {
  margin-top: 20px;
  margin-left: 50px;
}

#rating {
  font-size: 15px;
}

#startpage {
  background-color: #EBF7E3;
  text-align: center;
  color: #375F1B;
}
