
<header>
  <h1>Edit Review</h1>
</header>
<%= render partial: 'form', locals: {path: "/reviews/#{@review.id}",
                                    method: :patch,
                                    button_text: "Submit" } %>
