<header>
  <h1>Add a Review</h1>
</header>
<%= render partial: 'form', locals: {path: "/shelters/#{@shelter_id}",
                                    method: :post,
                                    button_text: "Submit" } %>
